# Byte-compiled / cache
__pycache__/
*.pyc

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store

# Python virtual environment
venv/
env/

# Output folders
results/

# Excel / reports
*.xlsx
*.png